.logo{
    margin-left: 50px;
    width: 200px;
    margin-top:1px;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

.profile{
   
    text-align: center;
}

.profile>.women,.profile>.men{
    height: 70px;
    width: 70px;
    border: 4px solid rgb(219, 214, 214);
    transition: all .5s;
}
.profile>.women:hover,.profile>.men:hover{
    border: 4px solid rgb(83, 136, 196);
}

.titulo{
    text-align: center;
}
.paragraph{
    font-size: 12px;
    color:gray;
    font-style: italic;
}
.profile{
    margin-top: 20px;
}
.profile h6{
    font-weight: bold;
}
.description{
    text-align: center;
    color:rgb(165, 165, 165);
}

.video{
    margin-top: 50px;
}
.mapa{
    margin:0 auto;
}

.valores span{
    font-size: 30px;
    color:#2196F3;
    font-weight: bold;
}

/*Redes sociales*/
.social-net>ul{
    list-style: none;
    display:flex;
    flex-flow: row nowrap;
    padding-left:0px;
    margin-top:0px;
    font-size: 1em;
}
.fab .fa-facebook-f{
    margin-left: 0;
}
.social-net>ul>li{
    padding:5px 8px 4px;
    background-color: rgb(243, 241, 241);
    margin:0px 5px 0px 5px;
    border-radius:2px;
    transition: background-color 1s;
}
.social-net ul a{
    color:gray;
    transition: background-color 1s;
}
.social-net ul a:hover{
    color:rgb(243, 241, 241);
}
.social-net>ul>li:hover{
    background-color: gray;
}